@import "shared_styles/cloze";
@import "shared_styles/solarized";
@import "shared_styles/keyboard_shortcut";

$card-padding: 10px;

.card {
  font-family: "Roboto", sans-serif;
  padding: 0;
  margin: 0;
}

#content {
  // Override margin set in AnkiDroid's default style.
  // https://github.com/ankidroid/Anki-Android/blob/2bca8ade9197b59cbd38ef5d3076fc60c32dea84/AnkiDroid/src/main/assets/flashcard.css
  margin: 0 !important;
}

h1 {
  padding: $card-padding;
  margin: 0;
}

h2 {
  padding: $card-padding;
  margin: 0;
}

#agentydragon-content {
  padding: $card-padding;
}

hr {
  border: 0;
  height: 1px;
}

code, pre {
  font-family: "Ubuntu Mono", "Roboto Mono", monospace;
}

pre {
  /* On mobile, wrap if code lines get too long. */
  white-space: pre-wrap;
}

@mixin cardRebase($rebase03, $rebase02, $rebase01, $rebase00, $rebase0, $rebase1, $rebase2, $rebase3) {
  background-color: $rebase03;
  color: $rebase0;
  // h1, h2, h3, h4, h5, h6 { color: $rebase1; border-color: $rebase0; }
  a, a:active, a:visited { color: $rebase1; }

  h1 {
    color: $rebase2;
    background-color: $rebase02;
  }
  h2 {
    color: $rebase1;
    background-color: $rebase02;
  }
  hr {
    background-color: $rebase02
  }

  /*
      Name:       Base16 Solarized Dark
      Author:     Ethan Schoonover (http://ethanschoonover.com/solarized)
      Pygments template by Jan T. Sott (https://github.com/idleberg)
      Created with Base16 Builder by Chris Kempson (https://github.com/chriskempson/base16-builder)
  */
  .highlight {
	  // $rebase3 changed for $rebase0
    color: $rebase0;
    .hll { background-color: $rebase01; }
    .c { color: $rebase00 } /* Comment */
    .err { color: $red } /* Error */
    .k { color: $violet } /* Keyword */
    .l { color: $orange } /* Literal */
    .n { color: $rebase0; } /* Name */
    .o { color: $cyan } /* Operator */
    .p { color: $rebase0; } /* Punctuation */
    .cm { color: $rebase00 } /* Comment.Multiline */
    .cp { color: $rebase00 } /* Comment.Preproc */
    .c1 { color: $rebase00 } /* Comment.Single */
    .cs { color: $rebase00 } /* Comment.Special */
    .gd { color: $red } /* Generic.Deleted */
    .ge { font-style: italic } /* Generic.Emph */
    .gh { color: $rebase0; font-weight: bold } /* Generic.Heading */
    .gi { color: $green } /* Generic.Inserted */
    .gp { color: $rebase00; font-weight: bold } /* Generic.Prompt */
    .gs { font-weight: bold } /* Generic.Strong */
    .gu { color: $cyan; font-weight: bold } /* Generic.Subheading */
    .kc { color: $violet } /* Keyword.Constant */
    .kd { color: $violet } /* Keyword.Declaration */
    .kn { color: $cyan } /* Keyword.Namespace */
    .kp { color: $violet } /* Keyword.Pseudo */
    .kr { color: $violet } /* Keyword.Reserved */
    .kt { color: $yellow } /* Keyword.Type */
    .ld { color: $green } /* Literal.Date */
    .m { color: $orange } /* Literal.Number */
    .s { color: $green } /* Literal.String */
    .na { color: $blue } /* Name.Attribute */
    .nb { color: $rebase0; } /* Name.Builtin */
    .nc { color: $yellow } /* Name.Class */
    .no { color: $red } /* Name.Constant */
    .nd { color: $cyan } /* Name.Decorator */
    .ni { color: $rebase0; } /* Name.Entity */
    .ne { color: $red } /* Name.Exception */
    .nf { color: $blue } /* Name.Function */
    .nl { color: $rebase0; } /* Name.Label */
    .nn { color: $yellow } /* Name.Namespace */
    .nx { color: $blue } /* Name.Other */
    .py { color: $rebase0; } /* Name.Property */
    .nt { color: $cyan } /* Name.Tag */
    .nv { color: $red } /* Name.Variable */
    .ow { color: $cyan } /* Operator.Word */
    .w { color: $rebase0; } /* Text.Whitespace */
    .mf { color: $orange } /* Literal.Number.Float */
    .mh { color: $orange } /* Literal.Number.Hex */
    .mi { color: $orange } /* Literal.Number.Integer */
    .mo { color: $orange } /* Literal.Number.Oct */
    .sb { color: $green } /* Literal.String.Backtick */
    .sc { color: $rebase0; } /* Literal.String.Char */
    .sd { color: $rebase00 } /* Literal.String.Doc */
    .s2 { color: $green } /* Literal.String.Double */
    .se { color: $orange } /* Literal.String.Escape */
    .sh { color: $green } /* Literal.String.Heredoc */
    .si { color: $orange } /* Literal.String.Interpol */
    .sx { color: $green } /* Literal.String.Other */
    .sr { color: $green } /* Literal.String.Regex */
    .s1 { color: $green } /* Literal.String.Single */
    .ss { color: $green } /* Literal.String.Symbol */
    .bp { color: $rebase0 } /* Name.Builtin.Pseudo */
    .vc { color: $red } /* Name.Variable.Class */
    .vg { color: $red } /* Name.Variable.Global */
    .vi { color: $red } /* Name.Variable.Instance */
    .il { color: $orange } /* Literal.Number.Integer.Long */
  }
}

.card {
  @include cardRebase($base3,$base2,$base1,$base0,$base00,$base01,$base02,$base03);
  margin: 0;
  padding: 0;
}

.card.night_mode {
  @include cardRebase($base03,$base02,$base01,$base00,$base0,$base1,$base2,$base3);
}

h1, h2 {
  font-weight: normal;
  font-size: 1.0em;
}

#agentydragon-log {
  font-family: monospace;
  text-align: left;
  font-size: 0.8;
  border: 1px solid #666;
  background-color: #ddd;
}

#agentydragon-log:empty {
  /* Hide the log if there's nothing in it. */
  display: none;
}

#agentydragon-log .error {
  color: red;
}

#agentydragon-fields {
  display: none;
}

// Extras for Overlapping Cloze
html {
  /* scrollbar always visible in order to prevent shift when revealing answer*/
  overflow-y: scroll;
}

.hidden {
  /* guarantees a consistent width across front and back */
  font-weight: bold;
  display: block;
  line-height:0;
  height: 0;
  overflow: hidden;
  visibility: hidden;
}

.card21 #btn-reveal{
  /* no need to display reveal btn on last card */
  display:none;
}

#btn-reveal {
  font-size: 0.5em;
}

.mobile #btn-reveal {
  font-size: 0.8em;
}
