<div id="agentydragon-card">
<div id="agentydragon-content">
<h1>LaTeX</h1>
<h2>Text mode</h2>
<pre>{{LaTeX}}</pre>

<hr id=answer>

[latex]{{LaTeX}}[/latex]
<br>
{{#Package}}Package <code>{{Package}}</code>{{/Package}}
</div>
</div>
